version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    volumes:
      - mongo_data:/data/db

  backend:
    image: ramyasri11/backend:latest
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/appdb

  frontend:
    image: ramyasri11/frontend:latest

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo_data: