name: Docker CI/CD

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Images
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/backend ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/backend
          docker build -t ${{ secrets.DOCKER_USERNAME }}/frontend ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/frontend

      - name: Deploy to VM
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VM_IP }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd project-root
            docker-compose pull
            docker-compose up -d